    .container{
        padding: 1rem;
    }

    table {
        border-spacing: 0;
        border: 1px solid black;
    }  

    tr:last-child > td {
        border-bottom: 0;
    }
    th, td{
        margin: 0;        
        border-bottom: 1px solid black;
        border-right: 1px solid black;
       
    }
        
    td:last-child {
        border-right: 0;
    }
    #input-globalFilter{
        margin-bottom: 20px;
        border-radius: 20px;
        padding: 10px;
        width: 250px;
        /* background-color: #eae5e5; */
    }
    .conatiner-input-filter-reset-button{
        display: flex;
        justify-content: space-between;
    }
    .pagination{
        margin-top: 20px;
    }
    .select-pagination, .input-pagination{
        padding: 8px;
        font-weight: 700;
    }
    .current-employees{
        margin-top: 40px;
    }
    th{
        padding: 10px 30px 10px 30px;
        background-color: #ff8000;;
    }
    td {
        padding: 1rem;
        background-color: #D3D3D3;
        font-weight: 600;
    }
    .button-home{
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        padding: 20px 50px 20px 50px;
        background-color: #ff8000;
        margin-top: 20px;
    }